.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.gap-15{
    gap:15px;
}
.elipse{
    overflow:hidden;
    text-overflow:ellipsis;
}
.over-y{
    overflow-y: auto;
}
span{
    width: 100%;
}
.width-100{
    width:100%; 
}
.width-80{
    width:80%; 
}
.height-80{
    height: 80%;
}
.height-150px{
    max-height: 150px;
}
.height-80px{
    max-height: 80px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.card-title{
    color: #5C6BBF;
    font-size: 1rem;
    font-weight: 500;
}

.card-text{
    font-size: 0.8rem;
    font-weight: 400;
    color: #5C6BBF;
}
.border{
    
    border-bottom: 0.5px solid #919191;
    
}