<div class="height-80 width-100 flex-column gap-15">
    <div class="card-title width-80 flex-column"><span> Informações </span></div>
    <div class="card-text width-80 border"> <span>Prioridade: {{prioridade_tarefa}}</span> </div>
    <div class="card-text width-80 flex-row border"><span class="elipse height-80px"> Nome da tarefa: {{nome_tarefa}}</span> </div>
    <div class="card-text width-80 flex-row border"> <span class="elipse over-y height-150px">Descrição: {{descricao_Tarefa}}</span> </div>
</div>