<div class="height-80 width-100 flex-column">
    <span class="card-title">Ações</span>

    <span class="width-80 card-text flex-row between">
        <span>Duração Jornada de Trabalho: </span> <span>{{duracao_jornada}} </span>
    </span>
    <span class="width-80 flex-row between">
        <button disabled="{{btn_iniciarJornada}}" mat-flat-button class="btn-green" (click)="iniciarJornada()">Iniciar Jornada</button>
        <button disabled="{{btn_finalizarJornada}}" mat-flat-button class="btn-green-yellow" (click)="finalizarJornada()">Finalizar Jornada</button>
    </span>

    <span class="width-80 card-text flex-row between">
        <span> Duração Intervalo:</span> <span>{{duracao_intervalo}} </span>
    </span>
    <span class="width-80 flex-row between">
        <button disabled="{{btn_iniciarIntervalo}}" mat-flat-button class="btn-green" (click)="iniciarIntervalo()">Iniciar Intervalo</button> 
        <button disabled="{{btn_finalizarIntervalo}}" mat-flat-button class="btn-green-yellow" (click)="finalizarIntervalo()">Finalizar Intervalo</button>
    </span>
</div>