<mat-sidenav-container class="sidenav-container">

    <mat-sidenav class="side-nav" mode="side" opened>
        <div >

            <div class="side-menu-button-container">
                <mat-icon class="icon-side-menu material-icons-outlined">info</mat-icon>
                <button mat-flat-button class="side-menu-button">Informações</button>
            </div>
            <div class="side-menu-button-container">
                <mat-icon class="icon-side-menu material-icons-outlined">list_alt</mat-icon>
                <button class="side-menu-button" mat-flat-button>Relatório</button>
            </div>
            <div class="side-menu-button-container">
                <mat-icon class="icon-side-menu material-icons-outlined">print</mat-icon>
                <button class="side-menu-button" mat-flat-button>Imprimir</button>
            </div>
        </div>
    </mat-sidenav>


    <mat-sidenav-content class="content-container">

        <div class="first-menu-row-card-container">
            <app-card-header-data class="card-header-width" [icone]="icone_card_one" [info]="info_pai_card_1">
            </app-card-header-data>
            <app-card-header-tarefa class="card-header-width" [icone]="icone_card_two" [info]="info_pai_card_2">
            </app-card-header-tarefa>
            <app-card-header-jornada class="card-header-width" [icone]="icone_card_three" [info]="info_pai_card_3"
                [classe_green_bg]="info_classe_green_bg">
            </app-card-header-jornada>
        </div>

        <div class="second-menu-row-card-container">
            <app-card-adiciona-tarefa class="card-second-row-width flex-column bg-color"></app-card-adiciona-tarefa>
            <app-card-informacoes class="card-second-row-width flex-column bg-color"></app-card-informacoes>
            <app-card-acoes class="card-second-row-width flex-column bg-color"></app-card-acoes>

        </div>

        <div class="second-menu-row-card-container">
            <app-lista-de-tarefas class="width-63-3-heigt-250 bg-color"></app-lista-de-tarefas>
            <app-tabela-jornada-concluida class="card-second-row-width flex-column bg-color"></app-tabela-jornada-concluida>
            
        </div>
        
        <div class="second-menu-row-card-container">
            <app-lista-de-tarefa-concluida class="width-63-3-heigt-250 bg-color"></app-lista-de-tarefa-concluida>
            <app-card-acoes class="card-second-row-width flex-column bg-color"></app-card-acoes>
            <!-- <app-tabela-jornada-concluida class="card-second-row-width flex-column width-100"></app-tabela-jornada-concluida> -->

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>