<div class="tabela-container">
    <table mat-table [dataSource]="dataSource" class="table-lista" *ngIf="dataTable.length > 0">

        <!-- nome_tarefa Column -->
        <ng-container matColumnDef="nome_tarefa">
            <th mat-header-cell *matHeaderCellDef> Nome da tarefa </th>
            <td mat-cell *matCellDef="let element" class="flex-row green"><span
                    class="width-nome-tarefa elipse heigth-25px"> {{element.nome_tarefa}}</span> </td>
        </ng-container>

        <!-- prioridade Column -->
        <ng-container matColumnDef="prioridade">
            <th mat-header-cell *matHeaderCellDef> prioridade </th>
            <td mat-cell *matCellDef="let element"> <span class="width-prioridade green"> {{element.prioridade}}</span>
            </td>
        </ng-container>

         <!-- duracao Column -->
        <ng-container matColumnDef="duracao">
            <th mat-header-cell *matHeaderCellDef> duração </th>
            <td mat-cell *matCellDef="let element"> <span class="width-prioridade green"> {{element.duracao}}</span>
            </td>
        </ng-container>

        <!-- descricao Column -->
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> </th>

            <td mat-cell *matCellDef="let element" class="width-150px">
                <!-- <span> {{element.descricao}} </span> -->
                <span class="flex-row flex-end gap-10">
                    <mat-icon class="icone material-icons-outlined blue" matTooltip="Informações da Tarefa"
                        (click)="mostrarInformacaoTarefa($event,element)">
                        info
                    </mat-icon>
                    <mat-icon class="material-icons-outlined green iconeDisable" matTooltip="Tarefa Finalizada">
                        done
                    </mat-icon>

                    <!-- <mat-icon class="icone material-icons-outlined yellow"
                      matTooltip="Pausar Tarefa"
                      (click)="pausarTarefa(element.indice)"
            >
                        pause
            </mat-icon>
            <mat-icon class="icone material-icons-outlined orange" matTooltip="Editar Tarefa" (click)="fechaDialog('false',element.indice)">edit</mat-icon>
            <mat-icon class="icone material-icons-outlined purple" matTooltip="Finalizar Tarefa">sports_score</mat-icon> -->
                    <mat-icon class="icone material-icons-outlined red" matTooltip="Tarefa Finalizada" value="id"
                        (click)="deleteTarefa($event,element.indice)">delete_forever</mat-icon>

                </span>

            </td>
        </ng-container>

        <tr mat-header-row class="sticky" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<ng-container *ngIf="modalInfo">
    <div class="flex-column-modal modal-info">
        <app-modal-informacoes-tarefa [tarefa]="tarefaInfo" class="width-100 height-70">
        </app-modal-informacoes-tarefa>
        <mat-icon class="icone material-icons-outlined purple height-10" matTooltip="Voltar"
            (click)="fecharModalInformacaoTarefa()">
            reply
        </mat-icon>
    </div>
</ng-container>

