<form [formGroup]="tarefaForm" class="form-width flex-column height-80" (submit)="onSubmit()" >
    <div class>
        <p class="card-title flex-row">Adicionar Tarefa</p>
    </div>

    <div class="flex-row width-100">

        <mat-form-field class="input-nome-tarefa-width">
            <mat-label class="text-color-inut">Nome Tarefa:</mat-label>
            <input
                formControlName="nomeTarefa" 
                matInput
                placeholder="Ex. Realizar cálculo "
                name="nomeTarefa"
                maxlength="250"
            >
        </mat-form-field>

        <mat-form-field class="input-prioridade-tarefa-width">
            <mat-label class="text-color-inut">Prioridade:</mat-label>
            <input
                formControlName="prioridadeTarefa"
                matInput
                name="prioridadeTarefa"
                placeholder="Ex. 1"
                type="number"
            >

        </mat-form-field>

    </div>

    <div class="flex-row width-100">
        <mat-form-field class="input-descricao-tarefa-width">
            <mat-label class="text-color-inut ">Descrição:</mat-label>
            <input
                formControlName="descricaoTarefa"
                matInput
                placeholder="Ex. preencher campos das ... "
                name="descricaoTarefa"
                maxlength="600"         
            >
        </mat-form-field>
        
            <button  type="submit" class="flex-row btn-submit"> 
                 <mat-icon class="input-icone-tarefa-width icone" matTooltip="Adicionar Tarefa" >post_add</mat-icon>
            </button>
    </div>
</form>

<ng-container *ngIf="infoBox">
      <app-evento-info-box [mesageminfoBox]="mesageminfoBox" class="info-box-container" >
      </app-evento-info-box>
  </ng-container>