@keyframes brilhoVerde {
    from {color: #76d61b;}
    to {
        color: #4db6ac;
        transform: scale(1.1);
        text-shadow: 1px 1px 4px #b0b0b0;
        // font-weight: bold;
    }
 
  }
  
  /* The element to apply the animation to */
 .statusIniciada {
 
    font-weight: bold;
    color: #76d61b;
    animation-name: brilhoVerde;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  
 

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.width-100{
    width:100%; 
}
.width-80{
    width:80%; 
}
.height-80{
    height: 80%;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.elipse{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.height-22px{
    max-height: 22px;
}

.card-title{
    color: #5C6BBF;
    font-size: 1rem;
    font-weight: 500;
}

.card-text{
    font-size: 0.8rem;
    font-weight: 400;
    color: #5C6BBF;
}
.card-text-status{
    font-size: 0.9rem;
    font-weight: 400;
    color: #5C6BBF;
}

.green{
color:#4DB6AC!important;
}

.yellow{
    color:#CDD855;
}

.orange{
    color:#F2A22C;
}

.purple{
    color:#5c6bbf;
}

.red{
    color:#EF7676;
}
.blue{
    color:#3c78ff
}